.intro-panel {
  position: fixed;
  top: -200px; 
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-color--);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  transition: top 0.7s ease;
  z-index: 9999000000;
}

.intro-panel p {
  display: flex;
  align-items: center;
}

.intro-panel img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* When open → slide down */
.intro-panel.open {
  top: 0;
}

/* When closed → slide up */
.intro-panel.close {
  top: -100%;
}




