@media screen and (max-width: 767px) {
  .Most-popular {
    /* border: 2px solid red; */
    min-height: 160vh;
    margin-top: 8rem;
  }

  .Most-popular-top {
    /* border: 2px solid blue; */
    height: auto;
    text-align: center;
  }

  .Most-popular-top p {
    font-size: 15px;
    font-family: var(--brand-font--);
  }

  .Most-popular-top h2 {
    font-size: 40px;
    margin-top: 1.5rem;
    font-family: var(--fonts--);
  }

  .Most-popular-body {
    margin-top: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
  }

  .image {
    height: fit-content;
  }

  .image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .name {
    height: fit-content;
    font-size: 17px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .amount {
    height: fit-content;
    color: gray;
    font-size: 17px;
    margin-top: 0.5rem;
    font-family: var(--brand-font--);
  }
}
