@media screen and (max-width: 767px) {
  .Most-popular {
    min-height: 160vh;
    margin-top: 8rem;
  }

  .Most-popular-top {
    height: auto;
    text-align: center;
  }

  .Most-popular-top p {
    font-size: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-transform: capitalize;
    font-family: var(--fonts--);
    font-weight: none;
  }

  .Most-popular-top h2 {
    font-size: 16px;
    font-family: var(--brand-font--);
  }

  .Most-popular-body {
    margin-top: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
  }

  .image {
    height: fit-content;
  }

  .image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .name {
    height: fit-content;
    font-size: 17px;
    text-transform: capitalize;
    font-family: var(--fonts--);
    margin-top: 0.5rem;
  }

  .amount {
    height: fit-content;
    color: gray;
    font-size: 17px;
    margin-top: 0.5rem;
    font-family: var(--brand-font--);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media screen and (max-width: 575px) {
  .Most-popular {
    min-height: 150vh;
    margin-top: 6rem;
  }

  .Most-popular-top p {
    font-size: 14px;
    font-family: var(--brand-font--);
  }

  .Most-popular-top h2 {
    font-size: 32px;
    margin-top: 1rem;
  }

  .image img {
    height: 50vh;
  }

  .name {
    font-size: 16px;
  }

  .amount {
    font-size: 16px;
  }
} */

/* Small devices (landscape phones, 576px to 767px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .Most-popular {
    min-height: 140vh;
    margin-top: 7rem;
  }

  .Most-popular-top p {
    font-size: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-transform: capitalize;
    font-family: var(--fonts--);
    font-weight: none;
  }

  .Most-popular-top h2 {
    font-size: 16px;
    font-family: var(--brand-font--);
  }

  .image img {
    height: 55vh;
  }
}

/* Medium devices (tablets, 768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Most-popular {
    min-height: 60vh;
    margin-top: 9rem;
    text-align: center;
  }

  .Most-popular-top p {
    font-size: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-transform: capitalize;
    font-family: var(--fonts--);
    font-weight: none;
  }

  .Most-popular-top h2 {
    font-size: 16px;
    font-family: var(--brand-font--);
  }

  .Most-popular-body {
    display: flex;
    width: 100%;
    gap: 0.2rem;
    margin-top: 2.5rem;
    padding: 0rem 2rem;
  }

  .container {
    gap: 0.3rem;
    padding: 0.3rem;
    width: 50%;
  }

  .image {
    width: 100%;
  }

  .image img {
    height: 45vh;
    width: 100%;
  }

  .name {
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    font-family: var(--fonts--);
    font-weight: bold;
    margin-top: 0.5rem;
  }

  .amount {
    font-size: 17px;
    text-align: left;
    font-family: var(--brand-font--);
    color: gray;
    margin-top: 0.5rem;
  }
}

/* Large devices (desktops, 992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .Most-popular {
    min-height: 100vh;
    margin-top: 10rem;
  }

  .Most-popular-top p {
    font-size: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-transform: capitalize;
    font-family: var(--fonts--);
    font-weight: none;
  }

  .Most-popular-top h2 {
    font-size: 16px;
    font-family: var(--brand-font--);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .image img {
    height: 40vh;
  }

  .name {
    font-size: 19px;
  }

  .amount {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .Most-popular {
    min-height: 100vh;
    margin-top: 8rem;
  }

  .Most-popular-top {
    text-align: center;
  }

  .Most-popular-top p {
    font-size: 70px;
    text-align: center;
    font-family: var(--fonts--);
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 4.5rem;
    font-weight: 600;
  }

  .Most-popular-top h2 {
    text-align: center;
    font-family: var(--brand-font--);
    font-size: 19px;
    letter-spacing: 2.5px;
    font-weight: 400;
  }

  .Most-popular-body {
    /* border: 2px solid green; */
    display: flex;
    margin-top: 2rem;
    height: 100vh;
    padding: 0rem 2.5rem;
  }

  .container {
    gap: 0.5rem;
    padding: 0.5rem;
    /* border: 2px solid red; */
    width: 50%;
  }

  .image {
    /* border: 2px solid red; */
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .image img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .image img:hover {
    transform: scale(1.05);
  }

  .name {
    font-size: 15px;
    text-transform: capitalize;
    font-family: var(--fonts--);
    margin-top: 0.5rem;
    font-weight: bold;
  }

  .amount {
    font-size: 14px;
    font-family: var(--brand-font--);
    margin-top: 0.5rem;
  }
}

/* Ultra-wide screens (1400px and up) */
@media screen and (min-width: 1400px) {
  .Most-popular {
    min-height: 85vh;
    margin-top: 14rem;
  }

  .Most-popular-top h2 {
    font-size: 20px;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}
