/* Small Mobile (up to 480px) */

/* Note: links on this page have the same class name as the once on the womans section. 
So the styles their also have control here */


@media screen and (max-width: 480px) {
  .contact-header {
    height: 65vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 38px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contents {
    min-height: 100vh;
    margin-top: 2.5rem;
  }

   .contents .container{
    height: fit-content;
    text-decoration: none !important;
    color: black;
  }

  .name{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
}

/* Medium Mobile (481px - 767px) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .contact-header {
    height: 70vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 50px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .contents {
    min-height: 100vh;
    margin-top: 3rem;
  }

    .contents .container{
    height: fit-content;
    text-decoration: none !important;
    color: black;
  }
}

/* Tablet (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-header {
    height: 65vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 4%;
    font-size: 56px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 1.8rem;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .contents {
    min-height: 100vh;
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }

  .contents .container{
    /* border: 2px solid red; */
    width: 100%;
  }
}

/* Large Tablet / Small Desktop (1025px - 1280px) */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .contact-header {
    height: 60vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 62px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 2.5rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .contents {
    min-height: 100vh;
    margin-top: 3.5rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    row-gap:  0.1rem !important;
    
  }

  .contents .container{
    height: fit-content;
    text-decoration: none !important;
    color: black;
  }

}

/* Desktop (1281px - 1440px) */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .contact-header {
    height: 58vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 6%;
    font-size: 68px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 3rem;
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }


  .contents {
    min-height: 100vh;
    margin-top: 4rem;
  }
}

/* Large Desktop (1441px and above) */
@media screen and (min-width: 1441px) {
  .contact-header {
    height: 55vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-men {
    position: absolute;
    inset: 0;
    background: url(../../../public/images/body-image-men.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-men p {
    color: white;
    position: absolute;
    top: 80%;
    left: 7%;
    font-size: 72px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .mens-links {
    padding-left: 3.5rem;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }



  .contents {
    min-height: 100vh;
    margin-top: 4.5rem;
  }
}