@media screen and (max-width: 767px) {
  article {
    height: fit-content;
  }

  .ourstory-header {
    height: 70vh;
    background: url(../../images/About-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .ourstory-header h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: var(--fonts--);
    top: 80%;
    left: 3%;
    font-size: 50px;
    text-transform: capitalize;
  }

  .ourstory-content {
    margin-top: 7rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  .paragraph {
    margin-top: 2rem;
    border: 1px solid gray;
    padding-bottom: 3rem;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .paragraph h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 2rem;
    font-family: var(--fonts--);
  }

  .paragraph p {
    font-family: var(--fonts--);
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2rem;
  }

  .paragraph img {
    width: 100%;
    height: 10%;
  }
}
