@media screen and (max-width: 480px) {
  .New-arrivals-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .New-arrivals-head h3 {
    font-size: var(--phone-size-text-head--);
    font-weight: 100;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .New-arrivals-head a {
    font-family: var(--brand-font--);
    text-transform: capitalize;
    font-weight: 600;
  }

  .wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px;
  }

  .items {
    min-width: 180px;
    background: #ddd;
    font-weight: bold;
    border: 2px solid lightgrey;
    border-radius: 10px 10px 0px 0px;
  }

  .innerdisplay {
    /* width: 100%; */
  }

  .innerdisplay img {
    width: 100%;
    height: 20vh !important;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }

  .innerdisplay h2 {
    font-size: 1.2rem;
    padding: 5px;
    text-transform: capitalize;
  }

  .innerdisplay span {
    font-size: 0.9rem;
    padding: 5px;
    color: grey;
    text-transform: capitalize;
  }

  .innerdisplay p {
    font-size: 1rem;
    padding: 5px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  .New-Arrivals-buttons {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 1rem;
  }

  .New-Arrivals-buttons button {
    padding: 14px;
    font-size: 1.2rem;
    width: 10%;
    height: 5vh;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
