* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .Login-home {
    height: 100vh;
    background-color: black;
  }

  .Login-home-top {
    height: 60vh;
    background-image: url(../../../public/images/login-image-transparent.jpg);
    background-size: cover;
    background-position: center;
    background-color: blue;
  }

  .Login-home-bottom {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Login-home-bottom p {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .Login-home-bottom span {
    color: white;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 1rem;
    font-family: var(--brand-font-- );
  }

  .Login-home-bottom button {
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--fonts--);
    text-decoration: none;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    margin-top: 2rem;
  }

  .Login-home button a {
    text-decoration: none;
    color: white;
  }

  /* ---------------------------------------- */

  .Login-page {
    height: 100vh;
    padding: 1rem 2rem;
  }

  .login-page-head {
    border: 2px solid grey;
    padding-top: 4rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 8rem;
  }

  .login-page-head h2 {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }

  .login-page-head span {
    font-size: 40px;
    text-transform: capitalize;
  }

  .Login-page form {
    /* margin-top: rem; */
    /* border: 2px solid red; */
  }

  .Login-page form input {
    height: 8vh;
    width: 100%;
    padding-left: 2rem;
    margin-top: 1rem;
    border: none;
    box-shadow: 1px 1px 1px;
    background: white;
    outline: none;
  }

  .Login-page form button {
    margin-top: 2rem;
    width: 100%;
    border-radius: 1px;
    background-color: black;
    color: white;
  }

  .other-button {
    display: flex;
    flex-direction: column;
  }

  .other-button button a {
    margin-top: 2rem;
    text-decoration: none;
  }

  .other-button a {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    text-decoration: underline;
    color: black;
  }
}
