@media screen and (max-width: 767px) {
   .contact-header {
    height: 70vh;
    position: relative;
    overflow: hidden;
  }

  .contact-bg-women {
    position: absolute;
    inset: 0;
    background: url(../../images/body-image-women.jpg) center/cover no-repeat;
    will-change: transform;
  }

  .contact-bg-women p {
    color: white;
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 50px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .womens-links {
    padding-left: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .womens-links a {
    color: black;
    text-transform: capitalize;
    font-size: 28px;
    color: gray;
    font-family: var(--fonts--);
    text-decoration: none;
  }

  .womens-links a:active {
    color: black;
  }

  .contents {
    min-height: 100vh;
    margin-top: 3rem;
  }
}
