@media screen and (max-width: 768px) {
  .product-image {
    width: 100%;
    padding-top: 1rem;
  }

  .product-image img {
    width: 100%;
  }

  .product-area {
    padding: 0rem 1.5rem;
  }

  .product-badge i {
    margin-top: 1rem;
    font-size: 30px;
  }

  .product-detail h3 {
    font-size: 23px;
    text-transform: capitalize;
    margin-top: 1rem;
    font-family: var(--fonts--);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-detail p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-family: var(--fonts--);
    font-size: 18px;
  }

  .product-detail span {
    font-family: var(--brand-font--);
    font-size: 20px;
    font-weight: 600;
  }

  .product-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-top: 1rem;
    color: white;
    position: relative;
    height: 5vh;
  }

  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 40px;
    right: 10px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }

  .product-tabs {
    margin-bottom: 2rem;
  }

  .tabs-header {
    font-family: var(--brand-font--);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .tabs-header h4 {
    padding: 0rem 0.5rem;
    opacity: 0.5;
    transition:
      opacity 0.2s ease,
      border-bottom 0.2s ease;
  }

  .tabs-header h4.active {
    opacity: 1;
    border-bottom: 2px solid var(--button-color--);
  }

  .tabs-content {
    margin-top: 1rem;
    font-family: var(--brand-font--);
  }

  .tabs-content p {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--brand-font--);
  }
}

/* Medium Devices (tablets, 768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-container {
    /* border: 2px solid red; */
  }

  .product-image {
    width: 100%;
  }

  .product-image img {
    width: 100%;
    height: 100vh;
  }

  .product-area {
    margin-top: 5rem;
    padding: 0rem 2rem;
  }

  .product-detail h3 {
    font-size: 26px;
    text-transform: capitalize;
    font-family: var(--fonts--);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
  }

  .product-detail p {
    margin: 0.5rem 0rem;
    font-family: var(--fonts--);
    font-size: 20px;
  }

  .product-detail span {
    color: gray;
    font-family: var(--brand-font--);
    font-size: 20px;
    margin-top: 2rem;
    font-weight: 600;
  }

  .product-badge p {
    width: fit-content;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    font-family: var(--fonts--);
  }

  .product-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-top: 1rem;
    color: white;
    position: relative;
    height: 5vh;
  }

  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }
}

/* Large Devices (desktops, 992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-image {
    width: 100%;
    height: 100vh;
  }

  .product-image img {
    width: 100%;
    height: 100vh;
  }
  .product-area {
    padding: 0rem 3rem;
    padding-top: 10rem;
  }

  .product-badge p {
    width: fit-content;
    background-color: #000;
    color: white;
    padding: 0.5rem 0.5rem;
    font-family: var(--fonts--);
  }
  .product-detail h3 {
    font-size: 28px;
    font-family: var(--fonts--);
    text-transform: capitalize;
    margin-top: 0.5rem;
  }

  .product-detail p {
    margin-top: 1em;
    margin-bottom: 2rem;
    width: 80%;
    font-family: var(--fonts--);
  }

  .product-detail span {
    font-family: var(--brand-font--);
    color: gray;
    font-weight: 600;
  }
  .product-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-top: 1rem;
    color: white;
    position: relative;
    height: 5vh;
  }

  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }
}

/* Extra Large Devices (large desktops, 1200px to 1399px) */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .product-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-image {
    /* border: 2px solid; */
    width: 90%;
    padding-left: 2rem;
  }

  .product-image img {
    width: 100%;
    height: 100vh;
  }
  .product-area {
    padding: 0rem 4rem;
    padding-top: 6rem;
  }

  .product-badge p {
    width: fit-content;
    background-color: black;
    color: white;
    padding: 0.5rem 0.4rem;
    font-family: var(--fonts--);
  }

  .product-detail h3 {
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--fonts--);
    margin-top: 1rem;
  }

  .product-detail p {
    font-family: var(--fonts--);
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 70%;
  }

  .product-detail span {
    font-family: var(--brand-font--);
    font-weight: 600;
  }
  .product-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin-top: 1rem;
    color: white;
    position: relative;
    height: 5vh;
  }

  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }
}

/* XXL Devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .product-container {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-area {
    padding: 0rem 5rem;
  }
  .product-detail h3 {
    font-size: 32px;
  }
  .product-area button {
    width: 50%;
    height: 5vh;
  }
  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }
}

/* Landscape Orientation */
@media screen and (max-height: 500px) and (orientation: landscape) {
  .product-content {
    margin-top: 2rem;
  }
  .product-badge p {
    margin-top: 1rem;
  }
  .product-detail h3 {
    margin-top: 1rem;
  }
  .product-button {
    position: relative;
  }

  .cart-popup {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: var(--button-color--);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    font-family: var(--brand-font--);
  }
}

/* Print Styles */
@media print {
  .product-area button {
    display: none;
  }
  .product-badge {
    background-color: #000 !important;
    color: #fff !important;
  }
}

.spinner {
  position: absolute;
  width: 18px !important;
  height: 18px !important;
  border: 3px solid #ccc;
  border-top: 3px solid #000;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* This below has only been added to phone views, so remeber to update it on the rest */

/* 
.tabs-header {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.tabs-header h4 {
  opacity: 0.5;
  transition: opacity 0.2s ease, border-bottom 0.2s ease;
}

.tabs-header h4.active {
  opacity: 1;
  border-bottom: 2px solid black;
}

.tabs-content {
  margin-top: 1rem;
} */
