*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

:root{
  --fonts-- : "Nunito Sans", sans-serif;
  --brand-font-- :   "Kelly Slab", sans-serif;
  --button-color-- :  rgb(245, 53, 53);
  --phone-size-text-head--: 40px;
}


body {
  background-color: white;
  scrollbar-width: none; 
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* overflow-x: hidden !important; */
  height: auto !important;
  overflow: visible !important;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch !important;
   /* touch-action: pan-y !important; */
}

.lenis {
  height: auto !important;
}

.lenis-smooth {
  scroll-behavior: auto !important; 
}






