*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

:root{
  --fonts-- : "Nunito Sans", sans-serif;
  --brand-font-- :   "Kelly Slab", sans-serif;
  --button-color-- :  rgb(245, 53, 53);
}


body {
  background-color: white;
}
