*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

:root{
  --fonts-- : "Nunito Sans", sans-serif;
  --brand-font-- :   "Kelly Slab", sans-serif;
  --button-color-- :  rgb(245, 53, 53);
  --phone-size-text-head--: 40px;
}


body {
  background-color: white;
  /* scrollbar-width: none;  */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-x: hidden !important;
}


