@media screen and (max-width: 767px) {
  .contact-header {
    height: 70vh;
    background: url(../../images/contact-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }

  .contact-header p {
    color: white;
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 50px;
    text-transform: capitalize;
    font-family: var(--fonts--);
  }

  .contact-top {
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact-top h2 {
    font-family: var(--brand-font--);
    color: gray;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .contact-top h1 {
    font-size: 40px;
    margin-top: 0.5rem;
    font-family: var(--fonts--);
    font-weight: 400;
    line-height: 2.5rem;
  }

  .contact-top a {
    text-decoration: none;
    color: black;
    font-family: var(--fonts--);
  }

  .contact-top img {
    height: 30vh;
    width: 100%;
    margin-top: 3rem;
  }
}
